<h1><%=@player_1_name%> wins!</h1>
<h6>(<%=@player_2_name%> loses.)</h6>

<h3><%=@player_1_name%>.. your prize is a hot date with our very own Mandy Dingle!! Enjoy...</h3>
<img src='http://i.dailymail.co.uk/i/pix/2015/01/06/0006755500000258-2898584-image-m-23_1420541711626.jpg'>
